@font-face {
	font-family: 'Flat-UI-Pro-Icons';
	src: url('../fonts/flat-ui-icons-regular.eot');
	src: url('../fonts/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/flat-ui-icons-regular.woff') format('woff'), url('../fonts/flat-ui-icons-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.form-pretty {
	font-size: 22px;
}

label {
	margin: 0;
}

.list-header:after {
	margin: 15px 20% 15px 20%;
	display: block;
	content: "";
	border-bottom: solid 2px #cfcfcf;
}

.list-header {
	text-align: center;
	color: #525252;
}

.quoterooni:after {
	margin: 40px 20% 40px 20%;
	display: block;
	content: "";
	border-bottom: solid 2px #cfcfcf;
}

.quoterooni .h4 {
	color: #939699;
}

.fancy-list li {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 5px;
}

.info-popover {
	color: #535584;
	font-size: 18px;
}

.info-popover:hover,
.info-popover:active,
.info-popover:focus {
	color: #7375a4;
}

/* Popovers */
.popover {
	width: 300px;
	border-radius: 0;
	border: 3px solid #bcbcbc;
	box-shadow: none;
	padding: 0;
	font-size: 14px;
}

.popover .popover-title {
	border-radius: 0;
	color: #434574;
	background-color: #fff;
	padding: 14px 14px 4px 14px;
	border: none;
	font-size: 18px;
}

.popover.right .arrow {
	border-right-color: #bcbcbc;
}

.popover.right .arrow:after {
	left: 4px;
}

.popover.left .arrow {
	border-left-color: #bcbcbc;
}

.popover.left .arrow:after {
	right: 4px;
}

.popover.top .arrow {
	border-top-color: #bcbcbc;
}

.popover.top .arrow:after {
	bottom: 4px;
}

.popover.bottom .arrow {
	border-bottom-color: #bcbcbc;
}

.popover.bottom .arrow:after {
	top: 4px;
}

.rfp-category-list .categorytile {
	-webkit-transition: background-size .5s;
	-moz-transition: background-size .5s;
	-o-transition: background-size .5s;
	transition: background-size .5s;

	cursor: pointer;
	height: 150px;
	background: transparent no-repeat center center;
	background-size: 100% auto;
}
.rfp-category-list .categorytile.othercategorytile {
	height: 100px;
}
.rfp-category-list .categorytile:hover,
.rfp-category-list .categorytile:focus {
	background-size: 107.5% auto;
}

.rfp-category-list .categorytext {
	font-size: 24px;
}

.rfp-category-list .categorytile1 {
	background-image: url('https://hirespace.com/img/homepage/conferences.jpg');
}

.rfp-category-list .categorytile2 {
	background-image: url('https://hirespace.com/img/homepage/meetings.jpg');
}

.rfp-category-list .categorytile3 {
	background-image: url('https://hirespace.com/img/homepage/parties.jpg');
}

.rfp-category-list .categorytile4 {
	background-image: url('https://hirespace.com/img/homepage/summer-parties.jpg');
}

.rfp-category-list .categorytile5 {
	background-image: url('https://az413805.vo.msecnd.net/spaces/ls-l/7471/Great%20Halls%207.jpg');
}

.rfp-category-list .categorytile6 {
	background-image: url('https://az413805.vo.msecnd.net/spaces/ls-l/6441/4749TannerSt_The%20Loft(b).jpg');
}

.rfp-category-list .categorytile7 {
	background-image: url('https://az413805.vo.msecnd.net/spaces/oc-l/43159/lpypmluzoeg.jpg');
}

.rfp-category-list .categorytile8 {
	background-image: url('https://hirespace.com/img/homepage/private-dining.jpg');
}

.rfp-category-list .categorytile9 {
	background-image: url('https://az413805.vo.msecnd.net/spaces/ls-l/6917/lmlu1cwgq0g.jpg');
}

.rfp-category-list .categorytile10 {
	background-image: url('https://hirespace.com/img/homepage/london.jpg');
}



.btn.btn-lg {
	font-size: 18px;
	line-height: 1.33;
}

.btn-lg .awe {
	font-size: 23px;
	position: relative;
	left: 4px;
	top: -1px;
	line-height: 18px;
}

h2 .upper {
  font-weight: normal !important;
  top: -5px;
  position: relative;
}

.form-stepper {
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.form-stepper a,
.form-stepper .like-link {
	color: #525252;
	font-weight: bold;
	font-size: 16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-bottom: 5px;
	cursor: pointer;
}

.form-stepper .form-counter {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	margin: 0 auto 6px auto;
	background-color: #aac29a;
	color: #fff;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-stepper a:hover {
	text-decoration: none;
}

.form-stepper .active {
	border-bottom: solid 3px #a2a2a2;
}

.form-stepper .complete .form-counter,
.form-stepper .active .form-counter {
	background-color: #4e833c;
}

.form-stepper a:hover .form-counter {
	background-color: #346529;
}

section .btn-lg, form .btn-lg {
	padding: 11px 15px 8px 15px;
	font-weight: bold;
}

.small-link {
  color: #535584;
  font-weight: normal;
  font-size: 0.6em;
  text-rendering: geometricPrecision;
  /* text-decoration: underline; */
  cursor: pointer;
}

.like-label {
  color: #535584;
}

.enquiry-info {
	background: #e5e5e5;
}

/*To hide datepicker stuff*/

input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

.input-error {
	border: 2px solid orangered;
}